.App {
  text-align: center;
}


/* Header */
.header {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.header h1 {
  font-size: 24px;
  z-index: 2;
}
.header.scrolled {
  background-color: white;
  box-shadow: 0px 4px 2px -2px gray;
}

.nav {
  display: flex;
  width: 1300px;
  margin-left: 0.5rem;
  z-index: 2;
}
.nav li {
  width: 9%;
}
.acount_nav {
  display: flex;
}
.acount_nav li {
  margin-left: 1rem;
  z-index: 2;
}

/* slide */

.Slide_container {
  width: 1801px;
  overflow: hidden;
}
slide-image {
  max-width: 100%;
  max-height: 1080px;
  width: 100%;
  height: auto;
  object-fit: cover;
}