.App {
  text-align: center;
}


/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  z-index: 3;
}
.header h1 {
  font-size: 24px;
  z-index: 2;
}
.header.scrolled {
  background-color: white;
  box-shadow: 0px 4px 2px -2px gray;
}

.nav {
  display: flex;
  width: 1300px;
  margin-left: 0.5rem;
  z-index: 2;
}
.nav li {
  width: 9%;
}
.acount_nav {
  display: flex;
}
.acount_nav li {
  margin-left: 1rem;
  z-index: 2;
}

/* slide */

.Slide_container {
  overflow: hidden;
  height: 816px;
}
.slide-image {
  max-width: 100%;
  max-height: 1080px;
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

/* Select */

.SelectMainText :first-child {
  font-size: 26px;
  padding: 10px 0;
}
.SelectMainText :last-child {
  font-size: 20px;
}

.SelectHeader_bg::before {
  content: "";
  position: absolute;
  width: 400px;
  top: 0%;
  left: 15%;
  bottom: -42%;
  background-Image: url(../public/img/select/select_bg.png);
  background-Size: contain;
  background-Position: inherit;
  background-Repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

/* Media */

.gauge-bar {
  width: 0; 
  transition: width 0.5s ease; 
}